<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.knee.spotifystreamer" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/spot_stream"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".SpotifyApplication">
        <activity
            android:name=".SearchArtistActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TopTracksActivity"
            android:label="@string/title_activity_top_tracks"
            android:parentActivityName=".SearchArtistActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SearchArtistActivity" />
        </activity>
        <service android:name="com.knee.spotifystreamer.service.AudioService" />
    </application>

</manifest>
